.header {
  padding: 0.75rem 1rem;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.25rem solid var(--blue);
}

.header__logo {
  height: 2rem;
  width: 2rem;
  display: block;
  transition: box-shadow 0.1s ease-in-out;
}

.header__logo:focus {
  outline: none;
  box-shadow: var(--blue) 0 0 0 0.25rem;
}

.header__bag {
  width: 2rem;
  display: block;
  transition: box-shadow 0.1s ease-in-out;
}

.header__bag:focus {
  outline: none;
  box-shadow: var(--blue) 0 0 0 0.25rem;
}

.header__links {
  display: flex;
  flex-direction: row;
}

.header__link {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
  transition: box-shadow 0.1s ease-in-out;
}

.header__link:focus {
  outline: none;
  box-shadow: var(--blue) 0 0 0 0.25rem;
}
