.variants {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 768px;
}

.variants__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.variants__listItem {
  padding: 1rem;
  font-size: 1.2rem;
  border: 0.125rem solid var(--black);
  border-radius: 50%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  font-weight: bold;
}

.variants__listItem:focus,
.variants__listItem:hover {
  outline: none;
  box-shadow: var(--blue) 0 0 0 0.25rem;
}

.variants__listItem__selected {
  color: var(--white);
  background-color: var(--black);
}
