.product {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 1080px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

.product__gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__details {
  margin-top: 2rem;
  padding: 2rem;
}
